<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>MTA Arrivals</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="screen">

    <!-- Train -->
    <div class="row">
      <div class="bullet six">6</div>
      <div class="times" id="six-times">Loading…</div>
    </div>

    <!-- Bus -->
    <div class="row">
      <div class="bullet bus">M34</div>
      <div class="times" id="bus-times">Loading…</div>
    </div>

  </div>

  <script src="/static/app.js"></script>
</body>
</html>
